<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/sanguine/Tutorial/Java_selenium/Wema">
        <classes>
            <class name="wematests.WemaPageTest">
                <methods>
                    <include name="loginStandard"/>
                    <include name="loginError"/>
                    <include name="loginVisual"/>
                    <include name="loginProblem"/>
                    <include name="loginPerformance"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>